#gradient{
    height: 200px;
    width: 350px;
    background:radial-gradient(circle #2C9390 60px,#FFFFFF 60px);
    border: 2px solid #909696
}
button{
    height:50px;
    width:200px;
    background:radial-gradient(ellipse #1956E4,#B8CBF7);
    font-size:1.5em;
    color:#ECECFB;
    font-family:sans-serif;
    border-radius: 15px;
    border: 3px solid #1956E4;
    box-shadow:1px 1px 15px #42C6BE;
}
button:after{
    content:'';
    display:block;
    border:solid 2px #FFFFFF;
    position:absolute;
    height:40px;
    width:190px;
    border-radius: 13px;
    margin: -37px -6px
}
@media screen and (max-width:1340px), not screen and (max-width: 500px)  {
#lorem{
    background-color: rgba(95, 158, 160, 0.7 );
    margin-top:20px}
}




